/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 29%;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Portfolio adjustments... */
@media only screen and (max-width: 600px) {
    .column {
        width: 95%;
    }
}
@media only screen and (max-width: 600px) {
    .grid-label {
        width: 80%;
    }
}
@media only screen and (max-width: 600px) {
    .grid-image {
        width: 80%;
        margin-left: 43px;
    }
}

/* Navigation menu adjustments */
/* Decided to simply resize the nav "logo" text rather then messing with hiding the right nav menu to show icon */
@media only screen and (max-width: 524px) {
    #logo {
        width: 30%;
        font-size: 0.85em;
    }
}

/* Everything Else */
/* Set main content areas, the title rows, and forms to all become full width at 960px wide or smaller */
@media only screen and (max-width: 960px) {
    div, input, .title {
        width: 100%;
    }
}