/* decided to reset default css first */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* default attributes for all elements */
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/paper-background.jpg");
    background-repeat: repeat-y;
    background-color: seashell;
    color: #777777;
}

/* NAVIGATION BAR*/
nav {
    background-color: #ffffff;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-top: 22px;
    line-height: 36px;
}

/* My name where the logo would be */
#logo {
    color: #ffffff;
    background-color: #4aaaa5;
    float: left;
    padding: 15px;
}

/* Navigation Menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Navigation menu is basically a horizontal list */
li {
    float: right;
}

li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

li .active {
    color: #4aaaa5;
    background-color: #e0e0e0;
}

/* HEADINGS */
/* Use Times Font for all headings */
h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    display: inline-block;
    clear: both;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid gray;
}

p {
    font-size: 16px;
    line-height: 24px;
    padding-top: 22px;
}

.title {
    color: #4aaaa5;
    font-weight: bold;
    width: 900px;
    margin: auto;

}

div {
    width: 960px;
    margin: auto;
}

section {
    display: block;
    margin: auto;
    background-color: #ffffff;
    /* TRBL */
    margin: 38px 0px 38px 0px;
    padding: 0px 22px 22px 22px;
    border: 1px solid #dddddd;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #D6D6D6;
    font-size: 10px;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    margin-top: 22px;
    line-height: 36px;
}

.squarePic {
    float: left;
    padding-top: 22px;
    width: 150px;
    height: *px;
    margin-right: 12px;
    overflow: auto;
}

/* CONTACT FORM */
form {
    margin-top: 22px;
}

label {
    margin-top: 22px;
    font-weight: lighter;
    color: #777777;
}

input {
    width: 900px;
    /* TRBL */
    margin: 5px 0px 22px 0px;
    line-height: 18px;
}

textarea {
    display: inline;
    width: 900px;
    margin: 5px 0px 22px 0px;
    border: .25px solid gray;
}

input.button {
    width: 90px;
    color: white;
    background-color: #4aaaa5;
    font-size: 16px;
    padding: 10px 0px 10px 0px;
}

/* Grid layout for portfolio */

.grid-container {
    width: 780px;
    height: 600px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    /* TRBL */
    margin: 22px 0px 0px 60px;
  }
  .grid-item {
    width: 220px;
    height: 165px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1.25px solid rgba(0, 0, 0, 0.8);
    margin: 12px 22px 12px 22px;
    /* padding: 20px; */
    font-size: 30px;
    text-align: center;
  }

.grid-image {
    width: 220px;
    height: 165px;
}

  .grid-label {
    font-size: 20px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: rgb(151, 151, 151);
    /* text-shadow: 2px 2px #a6a6a6; */
    line-height: 0.3;
    position: relative;
    top: -40px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 20px;
    background-color: rgba(117, 253, 255, 0.95);
    }